from .base import *

DEBUG = True

SECRET_KEY = ''

ALLOWED_HOSTS = ['localhost', '127.0.0.1']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '',
    }
}

TELEGRAM_BOT_TOKEN = ''

CORS_ORIGIN_ALLOW_ALL = True
